{% extends 'layout.html.twig' %}

{% block title %}Authentification{% endblock %}

{% block main %}
<form method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}


    <h3 class="h3 mb-3 font-weight-normal form-title">Authentifiez-vous</h3>
    <label for="inputEmail">Identifiant</label>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >


    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>


    <button class="btn btn btn-primary" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
