{%  extends 'layout.html.twig' %}

{% block main %}
<div id="date-participant">
    <h4> Date du jour: {{ "now"|date("d/m/Y") }}</h4>
    <h4> Participant : {{ app.user.pseudo }}</h4>
</div>

    <div>
        <h5>Filtrer les sorties</h5>
        {{ form_start(rechercheSortieForm,{'attr': {novalidate : 'novalidate'}}) }}
        {{ form_row(rechercheSortieForm.campus) }}
        {{ form_row(rechercheSortieForm.keywords) }}
        <div id="dates-recherche-sortie">
            {{ form_row(rechercheSortieForm.dateDebut) }}
            {{ form_row(rechercheSortieForm.dateFin)}}
        </div>
        <div id="checkbox-recherche-sortie">
            {{ form_row(rechercheSortieForm.organiseesParMoi) }}
            {{ form_row(rechercheSortieForm.jeSuisInscrit) }}
            {{ form_row(rechercheSortieForm.nonInscrit) }}
            {{ form_row(rechercheSortieForm.sortiesPassees) }}
        </div>


        {{ form_end(rechercheSortieForm) }}

    </div>

    <div id="affichage-sorties">
        {% if (sorties is empty) %}
            <h3 class="text-center"> Pas de sorties trouvées</h3>
        {% else %}
        <div id="searchSortiesResult" class="table-responsive">
        <table  class="table table-sm table-striped table-light">
            <thead class="thead-dark ">
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">inscrits/places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateurs</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{sortie.nom | lower |capitalize}}</td>
                        <td>{{ sortie.dateHeureDebut | date("d/m/Y") }}</td>
                        <td>{{ sortie.dateLimiteInscription | date("d/m/Y")  }}</td>
                        <td>{{ sortie.participants |length }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td></td>
                        <td>{{ sortie.organisateur.id }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %}

        </table>
        </div>
        <div id="btn-creer-sortie">
            <button class="btn btn-primary btn-lg" onclick="location.href='{{ path('sortie_creer') }}';">Créer une sortie</button>
        </div>
       </div>





{% endblock %}

{% block script %}

{% endblock %}